
.NavOwner-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.home-menu{
    font-size: 28px;
    color: #1655a7;
}

.profile-NavOwner{
    /* background-color: #F1EDED; */
    width: 150px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition-duration: 0.5s;
    background-color: #0e57c5;
}

.profile-NavOwner p{
    font-size: 28px;
    color: white;
    
}

img.profilelogo{
    margin-right: 0px;
}

#but-owner{
    border: none;
    background-color: #a2d0c1;
    font-size: 18px;
    color:  #214151;
    border-radius: 5px;
    height: 50px;
    transition-duration: 0.5s;
}

#but-owner:hover{
    color: #eff7e1;
    background-color: #214151;
    transition-duration: 0.5s;
}

.NavOwner-container2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.select-profile{
    background-color:#0e57c5 ;
    /* transition-duration: 0.5s; */
    color: white;
    /* position: relative; */
    /* top: 10px; */
    /* z-index: -1 */
    transition: width;
    transition-duration: 10s;
}

.select-profile p{
    color: white;
}

.select-profile:hover{
    width: 200px;
}

.profile-container{
    position: relative;
    transition-duration: 0.5s;
}

.profile-content{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0e57c5 ;
}

#dropdown-basic-button{
    color: white;
    margin-left: px;
}


