.content-factor-Admin h1{
    margin-top: 20px;
    color: #0475AD;
}

.factor-box-Admin{
    width: 80%;
    height: 100px;
    background-color: #d0e5f5;
    margin-top: 10px;
    margin-left:auto ;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input.factor-info{
    outline: none;
    border-radius: 5px;
    border: none;
}
input.factor-info:focus{
    border: 2px solid #1655a7;
}
.factor-info{
    margin-left: 30px;
    font-size: 26px;
}

.content2-factor-Admin{
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.clear-factor-Admin{
    clear:both;
    background-color: darkorange;
}

#fname{
    margin-right: 20px;
}

.add-factor-Admin{
    /* width: 200px; */
    /* height: 100px; */
    margin-left: 50px;
    padding: 10px;
    background-color: #1655a7;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 28px;
}

.add-box{
    /* position: absolute; */
    width: 80%;
    height: 120px;
    background-color: #8ac4d0;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.factor-inner-box-Admin{
    display: flex;
    align-items: center;
}

.icon-factor-Admin{
    margin-right: 20px;
}

.factor-icon-box-Admin{
    display: flex;
    align-items: center;
}

#edit-input{
    width: 300px;
    height: 40px;
}

.edit-image{
    width: 200px;
    margin-left: 20px;
    /* height: 40px; */
}

.edit-mini-box{
    display: flex;
    align-items: center;
}
.h1-factor-Admin{
    margin-left: 50px;
}

.text-factor-name{
    height: 50px;
    width: 300px;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
}

.file-factor-image{
    height: 30px;
}

.btn-save-factor{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    color: white;
    background-color: #1655a7;
    margin-right: 10px;

}

.add-btn-adminfac{
    margin-right: 10px
}

.save-edit-button{
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #0050b9;
    border: none;
    cursor: pointer;
}