.containermatch{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /* padding-right: -50px;
    padding-left: 50px; */
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
    width: 95%;    
}

#header2{
    
    /* padding: 10px; */
    color: black;
}


.select-score{
    display: block;
}

img{
    display: block;
}

/* select{
    display: inline-block;
    width: 20px;
} */

#contain-match-display{
    display: inline-block;
}