body{
    margin: 0;
}

.containIn{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Indorm{
    margin-top: 30px;
    display: block;
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}

h2{
    color: #0475AD;
}

h4{
    color: #00689B;
}

input{
    width: 100%;
}

.addimg{
    width: 100%;
    height: 50px;
}

.save{
    width: 50%;
    height: 30px;
}